*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body-index {
    height: 100%;
    display:flex;
    align-items:center;
    padding-top:40px;
    padding-bottom: 40px;
    background-color: #f5f5f5f5;
}
.img-hombre{
    -webkit-box-shadow: 0px -2px 18px 14px rgba(52,58,64,0.18);
    -moz-box-shadow: 0px -2px 18px 14px rgba(52,58,64,0.18);
    box-shadow: 0px -2px 18px 14px rgba(52,58,64,0.18);
border-radius: 10px;
width: 50%;
}

#inputclave::placeholder {
    text-align: center;
  }
  #inputEmail::placeholder {
    text-align: center;
  }
.formulario {
    -webkit-box-shadow: 0px -2px 18px 14px rgba(52,58,64,0.18);
    -moz-box-shadow: 0px -2px 18px 14px rgba(52,58,64,0.18);
    box-shadow: 0px -2px 18px 14px rgba(52,58,64,0.18);
        width: 330px;
    padding: 30px;
    margin:auto;
    border-radius: 10px;
    
}

.formulario .checkbox {
    font-weight: 400;
}

.formulario .form-control {
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.formulario input[type="email"] {
  margin-bottom: 10px;
}

.formulario input[type="password"] {
 margin-bottom: 10px;
}
footer{
   
    font-size: 18px;
    background-color:  #2a2e33;
    padding: 40px 0;
    text-align: center;
    color:white;
    
}

@media screen and (max-width: 950px) {
    .body-index, .gold{
        flex-direction: column;
    }
    .body-index .img-hombre,.body-index form{
        width: 90% ;
        margin: 0 auto;
    }
    .img-hombre {
      width: 90%;
      text-align: center;
      margin: 0 auto;
      margin-left: 0 !important;
      margin: 0 auto;
      /* display: flex; */
      /* justify-content: center; */
      /* text-align: center; */
      margin: 0 auto !important;
      margin-bottom: 30px !important;
        
    }

    


}
@media screen and (max-width: 750px) {
  header .menu-contenedor {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
    margin-left: 32px;

}
  
}


    /*---------------------------CSS RESERVAS-------------------------------------------------*/
    .body-reservas{
        /* Location of the image */
    background-image: url(../img/background-full.jpg);
    padding: 50px 0;
    padding-top: 0;
    width: 100%;

    text-align: center;
    
    /* Image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Image doesn't repeat */
    background-repeat: no-repeat;
    
    /* Makes the image fixed in the viewport so that it doesn't move when 
       the content height is greater than the image height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;
    
    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color:#f5f5f5;
    
    /* SHORTHAND CSS NOTATION
     * background: url(background-photo.jpg) center center cover no-repeat fixed;
     */
     
  }
  
  
  header {
    -webkit-box-shadow: 0px -2px 18px 14px rgba(52,58,64,0.18);
    -moz-box-shadow: 0px -2px 18px 14px rgba(52,58,64,0.18);
    box-shadow: 0px -2px 18px 14px rgba(52,58,64,0.18);
      background-color: #2a2e33;
      opacity: 90%;
      width: 100%;
     margin-bottom: 3px;
  }
  
  header .logo-contenedor {
      margin-left: 32px;
  }
  
  header .menu-contenedor {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;	
      margin-right: 32px;
      margin-left: 32px; 
  
  }
  
  
  header .menu-contenedor a{
      font-size: 18px;
      line-height: 50px;
      padding: 2px 8px;
      text-decoration: none;
      color: white;
  }
  
  header a:hover {
    color:#F7BD03;
    text-decoration: none;
  }
  
  .contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    
   
  }
  
  .contenedor-form{
    -webkit-box-shadow: 0px -2px 18px 14px rgba(52,58,64,0.18);
    -moz-box-shadow: 0px -2px 18px 14px rgba(52,58,64,0.18);
    box-shadow: 0px -2px 18px 14px rgba(52,58,64,0.18);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 600px;
    background: white;
    opacity: 90%;
    border: 1px solid #f5f5f5;
    box-shadow: 3px 0px 10px -5px black;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .contenedor-form button{
      width:200px; 
  }
hr{
  margin: 0 auto;
}
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -0px; 
    margin-left: 0px; 
}
.rightj{

  margin-bottom: 15px;
} 
.rightj:nth-child(3), .rightj:nth-child(6){
  margin-right: 0px;
} 
  
  
  @media screen and (max-width: 480px) {
      .links{
        display: flex;
        flex-direction: column;
      }
  }
  /*---------------------------CSS PRECIOS-------------------------------------------------*/
  .body-precios{
      padding: 30px 0 ;
      padding-top: 0 ;
      width: 100%;
    /* Location of the image */
background-image: url(../img/sea.jpg);

/* Image is centered vertically and horizontally at all times */
background-position: center center;

/* Image doesn't repeat */
background-repeat: no-repeat;

/* Makes the image fixed in the viewport so that it doesn't move when 
   the content height is greater than the image height */
background-attachment: fixed;

/* This is what makes the background image rescale based on its container's size */
background-size: cover;

/* Pick a solid background color that will be displayed while the background image is loading */
background-color:#f5f5f5;

/* SHORTHAND CSS NOTATION
 * background: url(background-photo.jpg) center center cover no-repeat fixed;
 */
 
}
 
 
  .card:hover{
    -webkit-box-shadow: 0px -2px 18px 14px rgba(52,58,64,0.18);
    -moz-box-shadow: 0px -2px 18px 14px rgba(52,58,64,0.18);
    box-shadow: 0px -2px 18px 14px rgba(52,58,64,0.18);
    transform: translateY(-10px);
    transition: transform .2s;
  }
  /*---------------------------CSS PROMOCIONES-------------------------------------------------*/

  .body-promociones{
    width: 100%;
    padding: 30px 0;
    padding-top: 0;
  /* Location of the image */
background-image: url(../img/sunset.jpg);

/* Image is centered vertically and horizontally at all times */
background-position: center center;

/* Image doesn't repeat */
background-repeat: no-repeat;

/* Makes the image fixed in the viewport so that it doesn't move when 
 the content height is greater than the image height */
background-attachment: fixed;

/* This is what makes the background image rescale based on its container's size */
background-size: cover;

/* Pick a solid background color that will be displayed while the background image is loading */
background-color:#f5f5f5;

/* SHORTHAND CSS NOTATION
* background: url(background-photo.jpg) center center cover no-repeat fixed;
*/
  }

  .card-promociones{
      display:flex;
    align-items:center;
    padding-top:40px;
    padding-bottom: 40px;
    text-align: center;
    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;	
    margin-right: 32px;
    margin-left: 32px;
  }
  .titulo-principal{
	padding: 0;
	margin-bottom:  20px;
	font-size: 45px;
}
.parrafo-principal{
	font-size: 20px;
	color: #ACA5AA;
}
.titulos{
	text-align: center;
	font-size: 20px;
	margin-top: 80px;
}

/*---------------------------CSS TARJETA GOLD-------------------------------------------------*/

.body-tarjeta{
    
    padding: 50px 0;
    padding-top: 0;
    width: 100%;
  /* Location of the image */
background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../img/gold.jpg);

/* Image is centered vertically and horizontally at all times */
background-position: center center;

/* Image doesn't repeat */
background-repeat: no-repeat;

/* Makes the image fixed in the viewport so that it doesn't move when 
 the content height is greater than the image height */
background-attachment: fixed;

/* This is what makes the background image rescale based on its container's size */
background-size: cover;

/* Pick a solid background color that will be displayed while the background image is loading */
background-color:#f5f5f5;

/* SHORTHAND CSS NOTATION
* background: url(background-photo.jpg) center center cover no-repeat fixed;
*/
  }
  .gold{
      height: 100%;
    display:flex;
    align-items:center;
    padding-top:40px;
    padding-bottom: 40px;
    background-color: #f5f5f5f5;
  }

  